<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.the198thstreet.news.repository.NewsMapper">

    <resultMap id="NewsItemResult" type="com.the198thstreet.news.entity.NewsItem">
        <id property="id" column="news_id" />
        <result property="resultId" column="result_id" />
        <result property="title" column="title" />
        <result property="originallink" column="originallink" />
        <result property="link" column="link" />
        <result property="description" column="description" />
        <result property="pubDateRaw" column="pub_date_raw" />
        <result property="pubDateDt" column="pub_date_dt" />
    </resultMap>

    <resultMap id="NewsSearchResultMap" type="com.the198thstreet.news.entity.NewsSearchResult">
        <id property="id" column="result_id" />
        <result property="lastBuildRaw" column="last_build_raw" />
        <result property="lastBuildDt" column="last_build_dt" />
        <result property="totalCount" column="total_count" />
        <result property="startNo" column="start_no" />
        <result property="displayCount" column="display_count" />
        <collection property="items" ofType="com.the198thstreet.news.entity.NewsItem" resultMap="NewsItemResult" />
    </resultMap>

    <insert id="insertResult" parameterType="com.the198thstreet.news.entity.NewsSearchResult"
            useGeneratedKeys="true" keyProperty="id" keyColumn="result_id">
        INSERT INTO news_search_result (last_build_raw, last_build_dt, total_count, start_no, display_count)
        VALUES (#{lastBuildRaw}, #{lastBuildDt}, #{totalCount}, #{startNo}, #{displayCount})
    </insert>

    <insert id="insertItems" parameterType="list">
        INSERT INTO news_item (result_id, title, originallink, link, description, pub_date_raw, pub_date_dt)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.resultId}, #{item.title}, #{item.originallink}, #{item.link},
             #{item.description}, #{item.pubDateRaw}, #{item.pubDateDt})
        </foreach>
    </insert>

    <select id="findAllResultsWithItems" resultMap="NewsSearchResultMap">
        SELECT r.result_id, r.last_build_raw, r.last_build_dt, r.total_count, r.start_no, r.display_count,
               i.news_id, i.result_id, i.title, i.originallink, i.link, i.description, i.pub_date_raw, i.pub_date_dt
        FROM news_search_result r
        LEFT JOIN news_item i ON r.result_id = i.result_id
        ORDER BY r.result_id DESC, i.news_id DESC
    </select>

    <select id="findResultWithItems" parameterType="long" resultMap="NewsSearchResultMap">
        SELECT r.result_id, r.last_build_raw, r.last_build_dt, r.total_count, r.start_no, r.display_count,
               i.news_id, i.result_id, i.title, i.originallink, i.link, i.description, i.pub_date_raw, i.pub_date_dt
        FROM news_search_result r
        LEFT JOIN news_item i ON r.result_id = i.result_id
        WHERE r.result_id = #{id}
    </select>

    <select id="findResultById" parameterType="long" resultType="com.the198thstreet.news.entity.NewsSearchResult">
        SELECT result_id AS id, last_build_raw AS lastBuildRaw, last_build_dt AS lastBuildDt,
               total_count AS totalCount, start_no AS startNo, display_count AS displayCount
        FROM news_search_result
        WHERE result_id = #{id}
    </select>

    <select id="findItemById" parameterType="long" resultMap="NewsItemResult">
        SELECT * FROM news_item WHERE news_id = #{id}
    </select>

    <update id="updateResult" parameterType="com.the198thstreet.news.entity.NewsSearchResult">
        UPDATE news_search_result
        SET last_build_raw = #{lastBuildRaw},
            last_build_dt = #{lastBuildDt},
            total_count = #{totalCount},
            start_no = #{startNo},
            display_count = #{displayCount}
        WHERE result_id = #{id}
    </update>

    <update id="updateItem" parameterType="com.the198thstreet.news.entity.NewsItem">
        UPDATE news_item
        SET title = #{title},
            originallink = #{originallink},
            link = #{link},
            description = #{description},
            pub_date_raw = #{pubDateRaw},
            pub_date_dt = #{pubDateDt}
        WHERE news_id = #{id}
    </update>

    <delete id="deleteItemsByResultId" parameterType="long">
        DELETE FROM news_item WHERE result_id = #{resultId}
    </delete>

    <delete id="deleteResult" parameterType="long">
        DELETE FROM news_search_result WHERE result_id = #{resultId}
    </delete>

    <delete id="deleteItem" parameterType="long">
        DELETE FROM news_item WHERE news_id = #{itemId}
    </delete>

    <select id="existsByOriginallink" parameterType="string" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM news_item
        WHERE originallink = #{originallink}
    </select>

    <select id="existsByTitle" parameterType="string" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM news_item
        WHERE title = #{title}
    </select>
</mapper>
